<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Listado de Juegos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/index.css" />
</head>

<body>
	<div class="container my-5">
		<div class="upload-container">
			<div class="my-3">
				<a href="/">Volver</a>
			</div>
			<div class="upload-header">
				<h2>Import the CSV file into Mysql Database using Spring Boot
					Application</h2>
			</div>
			<div class="upload-content">
				<div class="single-upload">
					<h3>Upload the CSV File</h3>
					<form id="singleUploadForm" name="singleUploadForm">
						<input id="singleFileUploadInput" type="file" name="file"
							class="file-input" required />
						<button type="submit" class="primary submit-btn">Submit</button>
					</form>
					<div class="upload-response">
						<div id="singleFileUploadError"></div>
						<div id="singleFileUploadSuccess"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="/js/main.js"></script>
</body>
</html>